<div class="container">
    <div class="input-group">
        <label class="display-6 "><strong>Owner:</strong></label>
        <input #ownerInput 
                class="form-control form-control-lg mt-5 me-5 text-center" 
                type="text" 
                [placeholder]="owner"
                (keyup.enter)="searchNftsByContract()">
        <button class="btn btn-primary mt-5"
                type="submit"
                (click)="searchNftsByContract()"><strong>Search</strong></button>
    </div>
</div>

<div *ngIf="invalidOwner">
    <div>
        <div class="container alert alert-warning mt-5 text-center">
            <strong>Warning!</strong> You must indicate a valid owner...
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>


<div *ngIf="!nftsDataLoaded; else cardsContent" #progressSpinner>
    <p-progressSpinner class="d-flex justify-content-center" strokeWidth="2" animationDuration="1s"></p-progressSpinner>
</div>

<ng-template #cardsContent>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 mt-5" *ngFor="let nft of nfts ">

                <div class="card-columns border " (click)="openNftDetails(nft)" style="width: 14rem; cursor: pointer;"
                    *ngIf="!isEmptyNft(nft) ">

                    <div *ngIf="nft.video else imgNft">
                        <video *ngIf="nft.video" class="card-img-top" src="{{nft.video}}" alt=""></video>
                    </div>
                    <ng-template #imgNft>
                        <img class="card-img-top" src="{{nft.image }}" alt="">
                    </ng-template>

                    <div class="card-body">
                        <h5 class="card-title">{{nft.name}}</h5>
                        <p class="card-text">{{nft.description?.slice(0,80)+' ...'}}</p>
                    </div>

                    <div class="card-footer">
                        <h5 class="card-title">{{nft.compiler ? (nft.compiler) : 'No Compiler Registered'}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<app-nft-details *ngIf="!isEmptyNft(selectedNft)" [nft]=" selectedNft"></app-nft-details>