<p-carousel [value]="data" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" >
    <ng-template let-element pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img  alt="product.name" class="product-image" />
                </div>
                <div>
                    <h4 class="mb-1">{{element}}</h4>
                    <h6 class="mt-0 mb-3">"$product.price"</h6>
                    <span [class]="'product-badge status-'">"product.inventoryStatus"</span>
                    <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>