<h2>Cryptocurrencies Ranking</h2>
<h2>Coins:</h2>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price (USD)</th>
        <th>Max Supply</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let crypto of cryptosData">
        <td> 
          <a routerLink="/crypto_details/{{crypto.id}}">
            {{crypto.name}}
          </a>
        </td>
        <td>{{crypto.symbol}}</td>
        <td>{{crypto.price | currency }}</td>
        <td>{{crypto.maxSuply }}</td>
      </tr>
    </tbody>
  </table>
</div>