<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h2 class="display text-center">Cryptocurrencies Ranking</h2>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center input-group px-md-6 ">
        <input class="form-control-md text-center font-weight-bold mt-2" type="text" [(ngModel)]="searchText"
          placeholder="Search ...">
      </div>
    </div>
  </div>
</div>

<div *ngIf="!cryptosDataLoaded; else divTable">
  <p-progressSpinner class="d-flex justify-content-center"></p-progressSpinner>
</div>

<ng-template #divTable>
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <table class="table table-responsive table-hover">
        <thead class="table-dark">
          <tr class="text-center">
            <th>Rank</th>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price (USD)</th>
            <th>Max Supply</th>
            <th>Circulating Supply</th>

          </tr>
        </thead>
        <tbody class="text-center ">
          <tr  *ngFor="let crypto of cryptosData | filter:searchText   | paginate: { itemsPerPage: count, currentPage: p }">
            <td>{{(crypto.cmc_rank)?crypto.cmc_rank :'-' }}</td>
            <td>
              <a class="link-secondary" style="text-decoration: none;" routerLink="/crypto_details/{{crypto.id}}">
                {{crypto.name}}
              </a>
            </td>
            <td>{{crypto.symbol}}</td>
            <td>{{crypto.quote.USD.price| currency }}</td>
            <td>{{(crypto.max_supply)? (crypto.max_supply | number: '.2'):'-' }}</td>
            <td>{{(crypto.circulating_supply) ? (crypto.circulating_supply | number : '1.2-2') :'-' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

</ng-template>