<h2 class="display-5 text-center"> <strong>{{crypto.name}} Details</strong> </h2>

<div *ngIf="!cryptoDetailLoaded; else divCard">
  <p-progressSpinner class="d-flex justify-content-center"></p-progressSpinner>
</div>

<ng-template #divCard class="d-flex justify-content-center">
  <div class="row mx-5">
    <div class="col-sm-4">
      <div class="card mb-md-4">
        <h5 class="card-header text-center">{{crypto.name}}</h5>
        <img src={{crypto.logo}} class="card-img mx-auto p-3" style="width:50%;height: 50%;object-fit: cover;">
        <div class="card-body">
          <p class="card-text text-center lead fs-6"><small>{{crypto.description}}</small></p>
          <h6 class="card-footer text-center" *ngIf="crypto.category">Category: {{crypto.category | uppercase}}</h6>
          <h6 class="card-footer text-center" *ngIf="crypto.urls.source_code[0]">Source Code:
            <a href={{crypto.urls.source_code[0]}} target="_blank">{{crypto.urls.source_code[0]}}</a>
          </h6>
          <h6 class="card-footer text-center"
            *ngIf="crypto.urls.technical_doc[0] && crypto.urls.source_code[0]!=crypto.urls.technical_doc[0]">Technical
            Doc:
            <a href={{crypto.urls.technical_doc[0]}} target="_blank">{{crypto.urls.technical_doc[0]}}</a>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-right px-5">

      <div *ngIf="!cryptoDetailGraphicLoaded;else pieChart">
        <p-progressSpinner class="d-flex justify-content-center"></p-progressSpinner>
      </div>
      <ng-template #pieChart>
        <div class="mt-5">
          <p-chart class="p-5" type="bar" [data]="dataChart"></p-chart>
        </div>
      </ng-template>
    </div>

  </div>

</ng-template>