
<ng-template ngIf="{{!nfts}}">
    <div class="container">
        
        <div class="input-group">
            <label class="display-6 " >Owner:</label>
            <input class="form-control form-control-lg mt-5 me-5 text-center" type="text" 
            placeholder="{{owner}}">
            <button type="submit" class="btn btn-primary mt-5">Search</button>
        </div>
        
    </div>
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-sm-3" *ngFor="let nft of nfts ">

                <div class="card-columns" style="width: 14rem;">

                    <img class="card-img-top" src="{{nft.image?nft.image:defaultImage}}" 
                    
                    alt="">

                    <div class="card-body">
                        <h5 class="card-title">{{nft.name}}</h5>
                        <p class="card-text">{{nft.image}}</p> 
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">{{nft.date | date}}</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>