<ng-template ngIf="{{!nfts}}">
    <div class="conteiner">
        <div class="row">
            <div class="col-sm-3" *ngFor="let nft of nfts ">

                <div class="card-columns" style="width: 18rem;">

                    <img class="card-img-top" src="{{nft.image}}" alt="">

                    <div class="card-body">
                        <h5 class="card-title">{{nft.name}}</h5>
                        <p class="card-text">{{nft.description}}</p>
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">{{nft.date | date}}</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>