<ng-template ngIf="{{!nfts}}">
    <div *ngFor="let nft of nfts" >
        <div class="card" style="width: 18rem;">
            
            <img class="card-img-top" src="{{nft.image_url}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{nft.name}}</h5>
                <p class="card-text">{{nft.description}}</p>
            </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{nft.slug}}</li>
            </ul>

            <div class="card-body">
                <a href="#" class="card-link">{{nft.twitter_username}}</a>
                <a href="#" class="card-link">{{nft.telegram_url}}</a>
            </div>
        </div>
    </div>


</ng-template>