
<div class="container">
    <div class="row mt-2">
      <div class="col">
        <h2 class="display text-center">Exchanges List</h2>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center input-group px-md-6 ">
          <input 
            class="form-control-md text-center font-weight-bold mt-2" 
            type="text"
            
            placeholder="Search ..."
            
            >
        </div>
      </div>
    </div>
  </div>
<div class="container h-75" >
    <div class="row " >
        <div class="col-sm-3 " *ngFor="let exchange of exchanges ">
            <div class="card text-center mt-4">
                <div class="card-header ">
                    
                    <img src="{{exchange.image}}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{exchange.name}}</h5>
                    <p class="card-text">{{(exchange.description)?(exchange.description?.slice(0,80)+' ...'):' - '}}</p>
                    <p class="card-text">Year Established: {{exchange.year_established}}</p>
        
                    <p class="card-text">Country: {{exchange.country}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
