<div class="modal-header">
    <h4 class="modal-title">Details</h4>
    <button class="btn-close" aria-label="Close" type="button" (click)="closeModal()"> </button>
</div>
<div class="modal-body">
    <div class="container ">
        <div class="card row flex-row">
            <img class="col-lg-4 card-img-end img-fluid mt-4 mb-4" src="{{nft.image}}" />
            <div *ngIf="nft.video else imgNft">
                <video *ngIf="nft.video" class="col-md-4 card-img-end img-fluid " src="{{nft.video}}" alt=""></video>
            </div>
            <ng-template #imgNft>
                <img class="col-lg-4 card-img-end img-fluid mt-4 mb-4" src="{{nft.image}}" alt="">
            </ng-template>


            <!-- <img class="col-lg-4 card-img-end img-fluid mt-4 mb-4" src="{{nft.image}}" /> -->
            <div class="col-lg-8 card-body">
                <h1 class="card-title">{{nft.name}}</h1>
                <p class="card-text">{{nft.description}}</p>
                <p><strong>Version: </strong>{{nft.version?nft.version:' - '}}</p>
                <p><strong>DNA: </strong>{{nft.dna?nft.dna:' - '}}</p>
                <p><strong>Edition: </strong>{{nft.edition?nft.edition:' - ' }}</p>
                <p class="card-text"><strong>{{nft.compiler?nft.compiler:' '}}</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h5>{{ nft.date? (nft.date | date ) : 'Not Date Registered'}}</h5>
</div>
