<p-carousel [value]="data" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
    [autoplayInterval]="3000">

    <ng-template let-element pTemplate="item">

        <div class="">
            <div class="mb-3">
                <img src="{{element.image}}"  class=" w-75 p-2" />
            </div>
            <div>
                <h4 class="mb-1">{{element.name}}</h4>

                <div class="car-buttons mt-2 d-flex justify-content-center">
                    <p-button 
                    type="button" 
                    styleClass="p-button-lg p-button-help p-button-rounded p-button-text"
                    (onClick)="deleteFav(element)">
                        <i class="pi pi-heart-fill"></i>
                    </p-button>
                </div>
            </div>
        </div>

    </ng-template>

</p-carousel>