<div class="d-flex justify-content-center border-bottom ">
    <h2 class="display-5">Blockchain overview </h2>
</div>
<div class="d-flex justify-content-center">
    <p class="text-center">
       <strong>Blockchain defined: </strong>Blockchain is a shared, immutable ledger that facilitates the process of recording transactions and tracking assets in a business network. An asset can be tangible (a house, car, cash, land) or intangible (intellectual property, patents, copyrights, branding). Virtually anything of value can be tracked and traded on a blockchain network, reducing risk and cutting costs for all involved.
    </p>
</div>
<div>
    <img src="" alt="">
</div>
<div>
    <p class="text-center">
       <strong>Why blockchain is important: </strong>Business runs on information. The faster it’s received and the more accurate it is, the better. Blockchain is ideal for delivering that information because it provides immediate, shared and completely transparent information stored on an immutable ledger that can be accessed only by permissioned network members. A blockchain network can track orders, payments, accounts, production and much more. And because members share a single view of the truth, you can see all details of a transaction end to end, giving you greater confidence, as well as new efficiencies and opportunities.
    </p>
</div>