#navbar ul li a , #navbar-header {
    color: var(--text-color) !important;
}
#navbar ul li a {
    border-bottom: 2px solid white;    
}
#navbar-header strong{
    padding-left: 1e;
    margin-left: 5%;
}

#favs:hover{
    background-color: rgba(255, 0, 0, 0.522);
    border-radius: 0.5rem;
}