<div class="modal-header">
    <h4 class="modal-title fs-2">Details</h4>
    <button class="btn-close" aria-label="Close" type="button" (click)="closeModal()"> </button>
</div>
<div class="modal-body">
    <div class="container ">
        <div class="card row flex-row">
            
            <div *ngIf="nft.video else imgNft" class="col-lg-4">
                <video *ngIf="nft.video" class="card-img-right img-fluid mt-4 mb-4" src="{{nft.video}}" alt=""></video>
            </div>
            <ng-template #imgNft >
                <img class="col-lg-4 card-img-end img-fluid mt-4 mb-4"  [src]=getSantizeUrl(nft.image) alt="">
            </ng-template>
            <div class="col-lg-8 card-body">
                <h1 class="card-title mt-1">{{nft.name}}</h1>
                <p class="card-text fs-5">{{nft.description}}</p>
                <p class="card-text fs-4"><strong>Version: </strong>{{nft.version?nft.version:' - '}}</p>
                <p class="card-text fs-4"><strong>DNA: </strong>{{nft.dna?nft.dna:' - '}}</p>
                <p class="card-text fs-4"><strong>Edition: </strong>{{nft.edition?nft.edition:' - ' }}</p>
                <p class="card-text fs-4"><strong>{{nft.compiler?nft.compiler:' '}}</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h5>{{ nft.date? (nft.date | date ) : 'Not Date Registered'}}</h5>
</div>
