<div class="container" *ngFor="let exchange of exchanges "> 
    <div class="card mt-4">
        <div class="card-header">
            {{exchange.id}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{exchange.name}}</h5>
            <p class="card-text">{{exchange.description}}</p>
            <p class="card-text">{{exchange.year_established}}</p>
            <img src="{{exchange.image}}">
            <p class="card-text">{{exchange.country}}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
