<div class="container h-100  ">
    <div class="d-flex justify-content-md-center align-items-center vh-100">
        <div class="border p-5 text-center">
            <h2>Please, enter your email:</h2>

            <form class="">
                <div class="p-inputgroup p-3">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input type="text" pInputText placeholder="Email">
                </div>
                <hr>

                <div class="row">
                    
                    <p-button class="col-md-12 p-2 " label="Recover password" icon="pi pi-check-circle" iconPos="right" ></p-button>
                </div>
            </form>
        </div>
    </div>
</div>