<section>
    <div class="d-flex justify-content-center border-bottom ">
        <h2 class="display-5">Blockchain Overview </h2>
    </div>
    <div class="container mb-lg-4">
        <div class="row">
            <div class="col-sm-6">
                <p-scrollPanel [style]="{width: '100%', height: '400px', padding:'1rem'}">
                    
                    <p class="text-center mt-4">
                        <strong>Blockchain defined: </strong>Blockchain is a shared, immutable ledger that facilitates
                        the
                        process of recording transactions and tracking assets in a business network. An asset can be
                        tangible (a
                        house, car, cash, land) or intangible (intellectual property, patents, copyrights, branding).
                        Virtually
                        anything of value can be tracked and traded on a blockchain network, reducing risk and cutting
                        costs
                        for
                        all involved.
                    </p>
                    <p-divider align="center" type="dashed">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-info-circle mr-2"></i>
                        </div>

                    </p-divider>
                    <p class=" text-center">
                        <strong>Why blockchain is important: </strong>Business runs on information. The faster it’s
                        received
                        and
                        the more accurate it is, the better. Blockchain is ideal for delivering that information because
                        it
                        provides immediate, shared and completely transparent information stored on an immutable ledger
                        that
                        can
                        be accessed only by permissioned network members. A blockchain network can track orders,
                        payments,
                        accounts, production and much more. And because members share a single view of the truth, you
                        can
                        see
                        all details of a transaction end to end, giving you greater confidence, as well as new
                        efficiencies
                        and
                        opportunities.
                    </p>
                    <p-divider align="center" type="dashed">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-info-circle mr-2"></i>
                        </div>

                    </p-divider>
                    <p class=" text-center">
                        <strong>Why is there so much hype around blockchain technology? </strong>There have been many
                        attempts to create digital money in the past, but they have always failed.

                        The prevailing issue is trust. If someone creates a new currency called the X dollar, how can we
                        trust that they won't give themselves a million X dollars, or steal your X dollars for
                        themselves?

                        Bitcoin was designed to solve this problem by using a specific type of database called a
                        blockchain. Most normal databases, such as an SQL database, have someone in charge who can
                        change the entries (e.g. giving themselves a million X dollars). Blockchain is different because
                        nobody is in charge; it’s run by the people who use it. What’s more, bitcoins can’t be faked,
                        hacked or double spent – so people that own this money can trust that it has some value.
                    </p>
                    <p-divider align="center" type="dashed">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-info-circle mr-2"></i>
                        </div>

                    </p-divider>
                    <p class=" text-center">
                        <strong>Pros of Blockchain: </strong>
                    <ul>
                        <li>Improved accuracy by removing human involvement in verification</li>
                        <li>Cost reductions by eliminating third-party verification</li>
                        <li>Decentralization makes it harder to tamper with</li>
                        <li>Transactions are secure, private, and efficient</li>
                    </ul>
                    <p-divider align="center" type="dashed">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-info-circle mr-2"></i>
                        </div>

                    </p-divider>
                    <p class=" text-center">
                        <strong>Cons of Blockchain: </strong>
                    <ul>
                        <li>Significant technology cost associated with mining bitcoin</li>
                        <li>Low transactions per second</li>
                        <li>History of use in illicit activities, such as on the dark web</li>
                        <li>Regulation varies by jurisdiction and remains uncertain</li>
                    </ul>

                </p-scrollPanel>

            </div>
            <div class="col-sm-6 mt-5">
                <img class="float-end img-thumbnail"
                    src="https://images.unsplash.com/photo-1639322537231-2f206e06af84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsb2NrY2hhaW58ZW58MHx8MHx8&w=1000&q=80"
                    alt="Blockchain Ilustration">
            </div>
        </div>
    </div>
</section>